<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./static/css/login.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>

    <script>
     function getFormInfo() {
   // 	$("#form-signin").on("click",".btn",function(e){
         var username=document.getElementById("username").value;
         var password=document.getElementById("password").value;
         console.log(username);
          $.ajax({
               url:"/loginpost",
               type:"post",
               data:{
					username: username,
					password: password
				},
               dataType:"json",
               success:function(result){
                   console.log(result.flag);
                    if(true===result.flag){
                        console.log("success");
                        window.location.href="/index";
                    }else{
                        alert("用户名或者密码不对");
                        window.location.href="/login";
                    }
               }
              })
   //       })
  	}
    </script>
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">发现新鲜事！</h1>
                    <div class="form-signin">
                       <div class="from-group">
                           <input type="text" name="userCustom.username" class="form-control" id="username" placeholder="用户名" required="required" autofocus="autofocus">
                       </div>
                       <div class="from-group">
                           <input type="password" name="userCustom.password" class="form-control" id="password" placeholder="密码" required="required">
                       </div>
                       <br>
                       <button class="btn btn-lg btn-primary btn-block" onclick="getFormInfo()">登录</button>
                       <a href="/register" class="btn btn-lg btn-success btn-block">还没有账号，去注册</a>
                    </div>

               </div>
           </div>
       </div>
   </div>
   </body>
   </html>
